.navbar-brand {
	height: 110px;
}

.content {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Colors
-------------------------------------------------- */
.navbar, .footer {
	background-color: #75bcdd;
}
ul.navbar-nav:nth-child(1) > li:nth-child(1) > a:nth-child(1) > h1:nth-child(1),
ul.nav:nth-child(2) > li:nth-child(1) > a:nth-child(1),
ul.nav:nth-child(2) > li:nth-child(2) > a:nth-child(1) {
	color: black;
}

ul.navbar-nav:nth-child(1) > li:nth-child(1) > a:nth-child(1) > h1:nth-child(1):hover,
ul.nav:nth-child(2) > li:nth-child(1) > a:nth-child(1):hover,
ul.nav:nth-child(2) > li:nth-child(2) > a:nth-child(1):hover {
	color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}
.container .footer-center {
    margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
	margin-left: auto;
	margin-right: auto;
}

